.tit{
    text-align: center;
    color:rgba(27, 75, 50, 0.562);
}
.tit1{
    padding-left: 39px;
   
}
.tit2{
    text-align: center;
    color:rgba(75, 145, 167, 0.562);
}
.source{
    /* text-align: center; */
    margin-left:39%;
}
.list{
    margin-bottom: 5px;
}